@charset "utf-8";
/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Scalles
Version:    1.0
Last change:    31.01.2016
Primary use:    MultiPurpose Template  
-------------------------------------------------------------------*/

@import "font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300|Roboto:400,100,500,700,900,300|Oswald:400,300,700);


*{
margin: 0 auto;
padding: 0px;
box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
margin: 0;
padding: 0px;
border: none;
font: inherit;
}

html { 
overflow-y: scroll; /* 1  */ 
-ms-text-size-adjust: 100%; /* 2 */
-webkit-text-size-adjust: 100%; /* 2 */
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale;
overflow-x: hidden; /* 3 */
width: 100%;
height: 100%;
}

body {
background-color:rgba(255,255,255,1);
color: #444444;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
line-height: 1.6em;
font-weight: 400;
font-size: .857em; 
letter-spacing:1px;
width: 100%;
height: 100%;
}	

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
display: block;
}

img, fieldset {
border: 0;
padding:0px;
margin:0 auto;
}

img {
max-width:100%;
height:auto;
display: block;
}

img:not([draggable]), embed, object{
max-width: 100%;
height: auto;
}

a {
vertical-align: baseline;
background: transparent;
text-decoration: none;
color: #232122;
}

ins {
background-color: #ff9;
color: #232122;
text-decoration: none;
}

mark {
background-color: #ff9;
color: #232122; 
font-style: italic;
font-weight: bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom: 1px dotted;
cursor: help;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;

}

hr {
display: block;
height: 1px;  
border-top: 1px solid #232122;
margin: 1em 0;
padding: 0;
}

input, select {
vertical-align: middle;
}

h1{
font-size: 1.5em;
font-weight:700;
text-transform:uppercase;
font-family: 'Oswald', sans-serif;


}
h2{
font-size: 1.125em;
font-weight:600;
text-transform:uppercase;
}
h3{
font-size: 1em;
font-weight:400;
text-transform:uppercase;
}

h4{
font-size: 2em;
font-weight:900;
text-transform:uppercase;
}

p{
font-size: 1em;
text-transform:capitalize;
font-weight:300;
font-family: sans-serif;
}


.wrapper{

display:block;
margin:0px auto;
-webkit-box-sizing: border-box;
-ms-box-sizing:border-box;
-moz-box-sizing: border-box;
box-sizing:border-box;
padding:0px 35px;	
clear: both;
position: relative;
    margin-right: 220px;
}

.wrapper:hover{
background: #f5f5f5;
color: #111111;
}


/* ==============================
   Common Section
   ============================== */

.col01{
text-align: left;
padding:10px !important;
box-sizing: border-box;
}

.col01 h1{
line-height:25px;
margin: 20px 0px;
font-weight: 700;
color:#000;
}

.col01 p{
margin:10px 0px;
    text-transform: uppercase;
         font-size: 0.8em;
}

.col01 i{
color:#111111;
}


.logos{
z-index: 999;
margin-bottom:0px;
margin-top:20px;
}






.left{
    float: left;
    display: inline-block;
}
.right{
    float: right;
    display: inline-block;
}


.class-width{
    width: 33% !important;
    display: inline-block;
}
.class-width50{
    width: 49.7% !important;
    display: inline-block;
}

.document-discription{
    padding: 100px !important;
    display: block;
    
}

.document-discription h1{
  font-size: 3em;
    line-height: 40px;
}

.document-discription h2{
  font-size: 1.5em;
       line-height: 30px;
}

.document-discription p{
  font-size: 1em;
      line-height: 20px;
}

/* --- Accordion Menu --- */
.according-menu {padding: 0; display: block; color: #111111; margin:0px 0px 0px 0px; text-transform:capitalize; font-weight: 500;box-sizing:border-box; margin-top: 50px; text-transform: uppercase; font-size: .857em;}
.according-menu a {text-decoration: none;color:#111111; padding: 5px 10px; display: block; border-bottom: 1px solid #FFFFFF;}
.according-menu a:hover { background-color: #111111; color:#FFFFFF;}
.according-menu li i{ padding-right:5px;}
.according-menu:after { content: " "; display: table;clear: both;}
.according-menu ul {display: none; padding: 0; margin: 0; list-style: none; position: relative; width: 100%; box-sizing:border-box;}
.according-menu ul li ::before  { display: block; margin: 0px; width: 100%; text-align:left; box-sizing:border-box;}

.according-menu ul li a{width: 100%; display: block; padding: 8px 10px; padding-left: 20px;}
.according-menu ul ul li {float: none;display: list-item; position: relative; box-sizing:border-box;}
.according-menu ul ul ul a { padding: 8px 10px;  }
.according-menu ul ul a {  padding-left: 30px; color: #111; }
.according-menu ul ul {display: none;float: none;position: static;}
.according-menu ul ul li {display: block;width: 100%;}
/* --- Accordion Menu --- */

/* ==============================
   Nav/Menu bar
   ==============================  */

.fixed-width-left{
    max-width: 250px;
    background: #f5f5f5;
    -moz-box-shadow: 0 0 6px rgba(3,3,3,0.6);
    -webkit-box-shadow: 0 0 6px rgba(3,3,3,0.6);
    box-shadow: 0 0 6px rgba(3,3,3,0.6);
    position: fixed;
    left: 0;
    /*width: 200px;*/
    height: 100%;
    min-height: 100%;
    z-index: 100;

    }
        
.content-right{
    position: absolute;
    left: 240px;
    padding-left: 10px;
    padding-bottom: 800px;
    min-height: 100%;
    height: auto;
    z-index: 1;
    width: 100%;
}
    
  .lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
    .lead {
    font-size: 13px;
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    color: #333;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}